@import 'ember-paper';

body.ember-application {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
  padding: 100px 20px;

  md-list-item.md-2-line {
    margin: 10px 0;
    border: 1px solid #eee;
    border-radius: 5px;

    .md-no-style {
      display: flex;
      align-items: center;

      .stock-symbol {
        font-weight: 600;
        font-size: 22px;
      }

      .stock-price {
        font-weight: 500;
        font-size: 15px;
        color: #929598;
      }
    }
  }
}

.stocks-container {
  width: 100%;

  .not-watching {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    md-icon {
      margin-bottom: 0;
    }
  }
}

.remove-button {
  min-width: 36px;
  border-radius: 50%;

  md-icon {
    color: #C2555E;
  }
}

.success-toast > .md-toast-content {
  background-color: #6CA693;
}

.danger-toast > .md-toast-content {
  background-color: #C2555E;
}

ul.ember-power-select-options:not(.md-autocomplete-suggestions) {
  list-style-type: none;
  padding-left: 15px;
}

// ========================= Mentions =========================== //

$mention-helpbar-height: 32px;

.comment-textbox-wrap {
  position: relative;
  width: 65%;
  margin-left: 15px;
  overflow: visible;

  .possible-mentions {
    z-index: 1000;
    min-width: 100%;
    position: absolute;
    top: 65%;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    border-radius: 6px;

    .help-bar {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      background: #fafbfc;
      color: #7f7f83;
      font-size: 12px;
      border-bottom: 1px solid rgba(0,0,0,.15);
      background-clip: padding-box;
      height: $mention-helpbar-height;
      overflow: hidden;
      border-radius: 6px 6px 0 0;

      .matching-text {
        max-width: 170px;
        position: relative;
        left: 12px;
        @extend .text-truncate;
      }

      .close-action {
        position: relative;
        right: 12px;

        md-icon {
          color: #474747 !important;
        }

        .close:hover {
          cursor: pointer;
        }
      }
    }

    ul.users {
      list-style-type: none;
      margin: $mention-helpbar-height 0 0 0;
      padding: 0;
      background-clip: padding-box;
      overflow: hidden;
      overflow-y: auto;
      max-height: calc(350px - #{$mention-helpbar-height});

      li.user {
        display: flex;
        align-items: center;
        padding: 5px 22px 5px 11px;
        white-space: nowrap;

        .full-name {
          color: rgb(20, 23, 26);
          font-weight: 600;
        }

        .username {
          position: relative;
          top: 1px;
        }

        &:hover {
          background: #eee;
          //color: #fff;
          //text-shadow: 0 1px rgba(0,0,0,.1);
          cursor: pointer;

          .full-name {
            //color: #fff;
          }

          .username {
            //color: #fff;
          }
        }
      }
    }
  }

  input, textarea {
    color: #000 !important;
    @media (min-width: 991px) {
      text-shadow: 0 0 0 transparent !important; // magic behind styling mentions in comments
      -webkit-text-fill-color: transparent !important;
    }
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #000;
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }

  .replacement-text {
    width: 100%;
    position: absolute;
    top: 2px;
    pointer-events: none;
    order: 2;
    display: block;
    margin-top: 0;
    background: none;
    padding: 2px 2px 1px 2px;
    border-width: 0 0 1px 0;
    line-height: 26px;
    border-radius: 0;
    white-space: normal;
  }
}

a.mention {
  color: #1264a3;
  text-decoration: none;

  &:hover {
    color: darken(#1264a3, 15%);
  }

  &.incomplete {
    color: rgb(20, 23, 26);
    pointer-events: none;
    &:hover {
      color: rgb(20, 23, 26);
    }
  }
}

span.plain {
  white-space: pre; // so plain comment replacement text will respect leading and trailing spaces
}

@mixin circle-of-size($some-number) {
  min-height: $some-number;
  min-width: $some-number;
  max-height: $some-number;
  max-width: $some-number;
  border-radius: 50%;
}
.avatar-common {
  &:hover {
    cursor: pointer;
  }
}
.avatar-rounded-small {
  @include circle-of-size(30px);
  @extend .avatar-common;
  border: 1px solid #929598;
}
.subtext {
  font-size: 13px;
  color: #929598;
}

.hint {
  @extend .subtext;
  font-size: 12px;
}

.font-weight-600 {
  font-weight: 600;
}

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {

      .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
      .#{$abbrev}t-#{$size},
      .#{$abbrev}y-#{$size} {
        #{$prop}-top: $length !important;
      }
      .#{$abbrev}r-#{$size},
      .#{$abbrev}x-#{$size} {
        #{$prop}-right: $length !important;
      }
      .#{$abbrev}b-#{$size},
      .#{$abbrev}y-#{$size} {
        #{$prop}-bottom: $length !important;
      }
      .#{$abbrev}l-#{$size},
      .#{$abbrev}x-#{$size} {
        #{$prop}-left: $length !important;
      }
    }
  }

  // Some special margin utils
  .m-auto { margin: auto !important; }
  .mt-auto,
  .my-auto {
    margin-top: auto !important;
  }
  .mr-auto,
  .mx-auto {
    margin-right: auto !important;
  }
  .mb-auto,
  .my-auto {
    margin-bottom: auto !important;
  }
  .ml-auto,
  .mx-auto {
    margin-left: auto !important;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


